*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif; 
    line-height: 1.6;
    margin: 0;
    height: 100vh;
    background: radial-gradient(circle, rgb(151, 81, 93), pink);}
header {
    background: radial-gradient(circle, rgb(151, 81, 93), pink); 
    color: white; 
    padding: 2rem; 
    text-align: center;}
main {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 2rem;}
section {
    margin-bottom: 2rem;
    text-align: center;}
h2 {
    border-bottom: 2px radial-gradient(circle, rgb(151, 81, 93), pink); 
    padding-bottom: 0.5rem; 
    margin-bottom: 1 rem;}
.member {
  background: #f4f4f4;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  text-align: center;
}
.member-image {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: 0 auto 10px auto;
  position: relative;
  z-index: 2;
}
.member::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background: radial-gradient(circle, rgb(151, 81, 93), pink);
  border-radius: 50%;
  left: calc(50% - 90px);
  top: 25px;
  z-index: 1;
}

.member {
  position: relative;
}


footer {
    background: radial-gradient(circle, rgb(151, 81, 93), pink); 
    color: white; 
    text-align: center; 
    padding: 1rem;
}
